h1 {
  color: tomato;
}

.user-border {
  .user-icon {
  font-size: 2em;
  color: #DDDDFF	;
  }
}

.login-signup {
  float: right;
}

.login-signup {
  float: right;
}

.card {
  background: white;
  border: 1px #aaa solid;
  border-radius: 10px;
  box-shadow: 2px 2px 2px grey;
}

.scorecard {
  margin-bottom: 20px;
}
