h1 {
  color: tomato;
}
.user-border {
  .user-icon {
  font-size: 2em;
  color: #DDDDFF;
  }
}
.navbarTop {
  background-color: #337ab7;
  .navSidebar {
    float: left;
    background-color: black;
  }
  .navTitle {
    color: skyblue;
  }
}
#navbarSidebar {
  position: fixed;
  height: 100%!important;
  z-index: 10;
  overflow-y: auto;
}

.sidebar {
  width: 230px;
  background-color: #337ab7;
  .navTitle {
    color: skyblue;
  }
  .gameListColor {
    color: white;
    line-height: 30px;
  }
}
.sideMenuBar {
  padding-top: 50px;
}
.login-signup {
  float: right;
  .popupHeader {
    margin-top: 10px;
    padding: 40px 40px 10px 40px;
  }
  .popupInput {
    border-radius: 0px;
    margin: 12px 3px;
    border: none;
    border-bottom: 1px solid black;
    box-shadow: none;
    height: 40px;
    font-size: 20px;
  }
}





.scorecard {
  margin-top: 20px;
  margin-bottom: 20px;
  display: inline-block;
  width: 220px;
  .boardcard {
  background: white;
  border: 1px #aaa solid;
  border-radius: 3px;
  box-shadow: 2px 2px 2px grey;
  width: 120%;
  }
  .boardheader {
  background: lightgray;
  color: white;
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  }
  .boardfooter {
  background: lightgray;
  color: white;
  padding: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  }
}

.gamecard {
  margin-top: 20px;
  margin-bottom: 20px;
  .scoretop {
  background: white;
  border: 1px #aaa solid;
  border-radius: 10px;
  box-shadow: 2px 2px 2px grey;
  }
  .scoreheader {
    background: lightgray;
    color: black;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
}

i {
  float: right;
}

.form-control{
  border-radius: 0px;
  margin: 12px 3px;
  height: 40px;
}
.labelstyle {
  margin-top: 20px;
  font-size: 20px;
  color: black;
}

.grayBody{
    background-color: #E9E9E9;
}

.modal-content {
  border: none!important;
}

.modal-backdrop {
  background: rgba(255, 255, 255, 0.35)!important;
  opacity: 0.5;
}
.loginbox{
  width : 600px;
  margin-top: 20%;
  background-color:#fff;
  box-shadow: 0 10px 10px -2px rgba(0,0,0,0.12),0 -2px 10px -2px rgba(0,0,0,0.12);

}
 .popupSubmit {
  padding-left: 0;
  padding-right: 0;
  background-color: white;
  .submitButton{
    background-color: #0088D8;
    color: #fff;
    margin-top: 12px;
    padding: 10px 0px;
    width: 100%;
    margin-left: 2px;
    font-size: 16px;
    border-radius: 0px;
    outline: none;
  }
}
.singtext{
    font-size: 28px;
    color: black;
    font-weight: 500;
    letter-spacing: 1px;
}

.submitButton:hover,.submitButton:focus{
    color: #fff;
    outline: none;
}

.msgClass {
    background-color: #f1f1f1;
    border: 2px solid #337ab7;
    padding: 3px 5px;
    margin-right: 28px;
    border-radius: 8px;
    margin-top: 5px;
    overflow-wrap: break-word;
    padding-top: 5px;

}

.team-logo {
    width: 75px;
    padding-right: .5em;
    padding-left: .5em;
}

.card-title {
    background-color: snow;
    font-size: 100%;
    padding-right: .5em;
    padding-left: .5em;
    margin-top: 2px;
    margin-bottom: 1px;
}

.card-score {
  margin-top: 1px;
}